/* navbar.css */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-color);
  padding: 0.5rem;
  margin: 0rem;
}

nav .logo {
  cursor: pointer;
}

nav .nav-links {
  display: flex;
  gap: 6rem;
  margin-right: 5rem;
}

nav a {
  font-family: var(--font-family);
  margin-right: 1rem;
  text-decoration: none;
  color: var(--text-color);
  font-weight: 500;
  opacity: 0.5;
}

nav a:hover {
  opacity: 1;
}

nav p {
  font-family: var(--header-font-family);
  margin-right: 1rem;
  text-decoration: none;
  color: var(--text-color);
  font-weight: 500;
}

.burger_icon {
  display: block;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

